*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --primary-font-color: #2e2e2e;                       
  --primary-logo-color: #1f1f1f;                        
  --primary-header-bg-color: #e0cc71;                   
  --primary-main-bg-color: #f4f4f4;                    
  --primary-quote-bg-color: #faf7d1;                  
  --primary-quote-text-color: #333;                   
  --primary-button-hover-opacity: 0.85;
  --primary-button-text-color: #111;                    
  --primary-box-shadow-color: rgba(0,0,0,0.15);        
  --primary-header-btn-bg-color: #e9d27c;             
  --primary-header-btn-hover-bg-color: #d6d6d6;         
  --primary-control-btn-hover-bg-color: #d0cfb8;       
  --primary-control-btn-bg-color: #e1e0d7; 
  --primary-nav-btn-bg-color: #ccc7b3;                  
  --primary-nav-btn-hover-bg-color: #b2ac94;         
}

.dark-theme{
  --primary-font-color: #fffdfd;                       
  --primary-logo-color: #ffffff;                       
  --primary-header-bg-color: #3d3d3d;                   
  --primary-main-bg-color: #2e2e2e;                    
  --primary-quote-bg-color: #3c3b34;                
  --primary-quote-text-color: #fff9f9;            
  --primary-button-hover-opacity: 0.7;
  --primary-button-text-color: #ffffff;
  --primary-box-shadow-color: rgba(0,0,0,0.6);          
  --primary-header-btn-bg-color: #7e7e7e;              
  --primary-header-btn-hover-bg-color: #bfbfbf;         
  --primary-control-btn-hover-bg-color: #666452;      
  --primary-control-btn-bg-color: #4f4f4f;   
  --primary-nav-btn-bg-color: #5e5b49;                  
  --primary-nav-btn-hover-bg-color: #4a4738;        
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-font-color);
  background-color: var(--primary-main-bg-color);
}

button{
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-align: center;
  border-radius: 2em;
  border: none;
  background-color: none;
  cursor: pointer;
  color: var(--primary-button-text-color);
  opacity: var(--primary-button-hover-opacity);

}

header{
  width: 100vw;
  display: flex;
  background-color: var(--primary-header-bg-color);
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 2em 3em;
  margin-bottom: 4px;
  box-shadow: 0 4px 4px var(--primary-box-shadow-color);
}

header button{
  border: none;
  background-color: var(--primary-header-btn-bg-color);
}

.theme-btn:hover {
  background-color: var(--primary-header-btn-hover-bg-color);
  opacity: var(--primary-button-hover-opacity);
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-logo-color);
}

main{
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
}

label{
  font-size: 1.2rem;
  margin: 0.5em 1em;
  color: var(--primary-font-color);
}

.quote-control{
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin: 0.5em 1em;
  padding: 0.6em 1.2em;
  font-size: 1em;
}

#random-quote-btn{
  background-color: var(--primary-control-btn-bg-color);
  color: var(--primary-button-text-color);
  margin: 0.1em 0.2em;
  padding: 0.5em 1em;

}

#random-quote-btn:hover{
  background-color: var(--primary-control-btn-hover-bg-color);
  opacity: var(--primary-button-hover-opacity);
}

select{
  font-size: 0.9em;
  border-radius: 2em;
  padding: 0.2em 0.5em;
  cursor: pointer;
  background-color: var(--primary-control-btn-bg-color);
  color: var(--primary-button-text-color); 
}

select:hover{
  background-color: var(--primary-nav-btn-hover-bg-color);
  opacity: var(--primary-button-hover-opacity);
}

.screen{
  display: flex;
  flex-direction: column;
  height: 60vh;
  background-color: var(--primary-quote-bg-color);
  border-radius: 2em;
  color: var(--primary-quote-text-color);
  box-shadow: 0 4px 4px var(--primary-box-shadow-color);
  margin: 1em 2em;
}

.quote-display-area{
  height: 75%;
  padding: 0.6em 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-nav{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.quote-nav button{
  background-color: var(--primary-nav-btn-bg-color);
}

.quote-nav button:hover{
  background-color: var(--primary-nav-btn-hover-bg-color);
  opacity: var(--primary-button-hover-opacity);
}






